[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sock = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
python-decouple = "*"
flask-migrate = "*"
psycopg2 = "*"
speechrecognition = "*"
google-cloud-speech = "*"
pydub = "*"
pip = "*"
install = "*"
pycouchdb = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.11"
