{% extends "dashboard.j2" %}
{% block sub_content %}




<main id="content" class="flex-1 p-6 bg-gray-100" style="padding-left: 12rem;">
      <div class="max-w-7xl mx-auto">
        <h1 class="text-5xl text-gray-800 font-bold mb-9">Welcome, {{ name }} 👋</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-3 gap-4">

            <div class="bg-white shadow-lg rounded-lg p-6 border border-gray-200" hx-get="/api/dashboard/home/total_presentations" hx-trigger="load" hx-target="#total_presentations" hx-swap="innerHTML">
              <h2 class="text-xl font-semibold text-gray-700 mb-2">Total Presentations</h2>
              <div class="text-5xl text-gray-800 font-bold" id="total_presentations"></div>
            </div>

            <div class="bg-white shadow-lg rounded-lg p-6 border border-gray-200" hx-get="/api/dashboard/home/average_presentations" hx-trigger="load" hx-target="#average_presentations" hx-swap="innerHTML">
              <h2 class="text-xl font-semibold text-gray-700 mb-2">Average Presentation Time</h2>
                <div class="text-5xl text-gray-800 font-bold" id="average_presentations"></div>
                <div class="text-2x1"> minutes</div>
            </div>
         </div>

   <div class=" p-3 rounded-lg" hx-get="/api/dashboard/home/recent_presentations" hx-trigger="load" hx-target="#recent_presentations" hx-swap="innerHTML">
      <h2 class="text-3xl font-semibold mb-4 p-3 rounded-lg">Recent Presentations</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" id="recent_presentations">
      </div>
   </div>
</main>







{% endblock %}
