{% extends "dashboard.j2" %} 


{% block sub_content %}
<main id="content" class="flex-1 p-6 bg-gray-100" style="padding-left: 18rem;">
  <h1 class="text-5xl text-gray-800 font-bold mb-3">Create a New Presentation</h1>
  <p class="mb-3 italic">Required fields are marked with an asterisk <span class="text-red-500">*</span></p>

  <form class="flex flex-col"  hx-post="/api/dashboard/home/create_presentations" hx-trigger="submit" hx-boost="true">
    <label for="present_name" class="text-xl">Presentation Name <span class="text-red-500">*</span></label>
    <input 
      id="present_name" 
      name="present_name" 
      type="text"
      class="shadow-sm rounded-md border border-gray-300  focus:outline-none focus:ring-1 focus:ring-blue-500 hover:border-blue-500 transition duration-200 w-[500px] h-[40px] ps-2"
      required />

    <label for="present_description" class="text-xl mt-4">Presentation description <span class="italic text-gray-400">(optional)</span></label>
    <input 
      id="present_description" 
      name="present_description" 
      type="text" 
      class="shadow-sm rounded-md border border-gray-300  focus:outline-none focus:ring-1 focus:ring-blue-500 hover:border-blue-500 transition duration-200 w-[500px] h-[40px] ps-2" 
      />

    <label for="present_length" class="text-xl mt-4">Presentation length <span class="text-red-500">*</span></label>
    <div>
      <input 
        id="present_length" 
        type="number" 
        name="present_length" 
        class="rounded-lg border border-gray-300 mb-3 w-[200px] h-[40px] ps-2"
        min="1" 
        max="99" 
        required /> <span class="text-xl"> minutes</span>

    </div>

    <input type="submit" 
    class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm py-2.5 text-center dark:bg-primary-600 dark:hover:bg-blue-700 dark:focus:ring-primary-800 cursor-pointer w-[200px] text-lg mt-8"
    value="Create Presentation" />
  </form>
</main>
{% endblock %}
