{% extends "dashboard.j2" %} 


{% block sub_content %}
<main class="flex-1 p-6 bg-gray-100 ps-[18rem]">
  <div class="flex flex-wrap gap-4 justify-center p-4">
    {% for presentation in presentations %}

    <a href="/api/summary/{{ presentation.presentation_id }}">
      <div class=" bg-blue-500 text-white shadow-lg rounded-lg overflow-hidden p-6 border border-gray-200">
          <h2 class="text-xl font-bold mb-2">Presentation {{ presentation.number }}</h2>
          <p class="text-md"><span class="font-bold">Title</span>: {{ presentation.name }}</p>
          {% if presentation.description %}
          <p class="text-md"><span class="font-bold">Description</span>: {{ presentation.description }}</p>
          {% endif %}
          <p class="text-md"><span class="font-bold">Presented</span>: {{ presentation.timestamp }}</p>
          <p class="text-md"><span class="font-bold">Length</span>: {{ presentation.length.minutes }} minutes, {{ presentation.length.seconds }} seconds</p>
      </div>
    </a>
    {% endfor %}
  </div>
</main>
{% endblock %}