{% extends "dashboard.j2" %} 


{% block sub_content %}
<main>
  <div class="flex flex-wrap justify-center p-4">
    {% for presentation in presentations %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg m-2">
      <div class="px-6 py-4">
        <h2 class="font-bold text-xl mb-2">{{ presentation.name }}</h2>
        <p class="text-gray-700 text-base">
          {{ presentation.description }}
        </p>
        <p class="text-gray-700 text-base italic">length: {{ presentation.length.minutes }} minutes, {{ presentation.length.seconds }} seconds</p>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}