{% extends "base.j2" %}

{% block script %}
<script
  defer
  src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>
<script
  src="https://unpkg.com/htmx.org@1.9.10"
  integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
  crossorigin="anonymous"
></script>
{% block other_script %}
{% endblock %}
{% endblock %}

{% block content %}
<header>
  <h1>present.ai</h1>
  <nav>
    <ul>
      <li><a href="/dashboard/home">home</a></li>
      <li><a href="/dashboard/present">present</a></li>
      <li><a href="/dashboard/presentations">presentations</a></li>
      <li><a href="/dashboard/resources">resources</a></li>
    </ul>
  </nav>
  <div>
    <img src="/static/images/user.png" width='50px'/>
    <p>{{ name }}</p>
  </div>
</header>
{% block sub_content %}
{% endblock %}

{% endblock %}
