<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Present.ai</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
</head>
<body>
    <div class="bg-black flex justify-center">
      <div>
        <video id="video" class="h-lvh">video stream not available</video>
        <canvas id="canvas" class="hidden"></canvas>
      </div>
      <div id="videoerrorcontainer" class="hidden">
        <p class="text-red-500">Video must be enabled</p>
      </div>
    </div>

    <script src="{{url_for('static', filename='js/stream.js')}}"></script>
</body>
</html>

