{% extends "base.j2" %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.min.js" integrity="sha512-Dc8aBUPSsnAiEtyqTYZrldxDfs2FnS8cU7BVHIJ1m5atjKrtQCoPRIn3gsVbKm2qY8NwjpTVTnawoC4XBvEZiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='js/stream.js')}}" defer></script>
{% endblock %}

{% block content %}
<main>
  <a href="/">
    <button class="absolute bg-red-500 text-white font-bold px-3 py-1 rounded top-5 left-5">exit</button>
  </a>
  <div class="bg-black flex justify-center">
    <div>
      <video id="video" class="h-lvh">
      </video>
      <canvas id="canvas" class="hidden"></canvas>
    </div>

    <div id="videoerrorcontainer" class="hidden">
        <p class="text-red-500">Video must be enabled</p>
    </div>

    <p id="backend_text" class="absolute text-3xl text-white font-bold bottom-16"></p>
  </div>
</main>
{% endblock %}
